#qulifications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(124, 71, 10, 0.5),
    rgba(251, 138, 10, 0.5)
  );

  h1 {
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(108, 106, 106, 0.692);
      cursor: grab;
      width: 280px;
      height: 200px;
      border-radius: 1rem;
      margin: 1rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

      .text-box {
        color: white;
        text-transform: uppercase;
      }

      &:hover {
        background-color: rgba(108, 106, 106, 0.96);
        transition: all 0.3s linear;
        transform: translate(0, -10px);

        .text-box {
          color: rgb(215, 213, 213);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #qulifications {
    #projectMainBox {
      #filterBox {
        flex-wrap: wrap;
        li {
          width: 36%;
        }
      }
    }
  }
}
